<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
    <link rel='stylesheet' href='/css/styles.css'>
  </head>
  <body>
    <main class="container">
      <div><h2>Hangman Animation</h2></div>
      <h1>Hangman</h1>
      <div class="row letters">
        <div class="col-md-6">
          #parse($getWordTemp)
        </div>
        <div class="col-md-6">
          #parse($getLetter)
        </div>
      </div>
    </main>
  </body>
</html>
